body{
    font-family: Arial;
    margin: 30px;
}

h1{
    text-align: center;
    color:#1565c0;
}

#instrucao{
    text-align: center;
}

#dados{
    border:1px solid #ccc;
    padding:20px;
    border-radius:8px;
}

#botaoEmpilhadeira{
    text-align: center;
    align-content: center;
    display: block;
    margin: 0 auto;
}